/*
@tailwind components;
@tailwind base;
@tailwind utilities;
*/

html {
  box-sizing: border-box;
  font-size: 2rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #313131;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
h1,
p,
ol,
ul,
input,
textarea {
  margin: 0;
  font-family:'Roboto';
  font: 400 1ren Roboto, sans-sefif;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

input, select, textarea {
  border: none;
  outline: none;
}

::placeholder {
  color: rgba(0,0,0,0.2);
}

.container {
  display: block;
  max-width: 30rem;
  margin: auto;
  padding: 1rem;
}

.title {
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
  background: linear-gradient(to right,#a842ff ,#ba75ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
